/* -------------All fonts for this project----- */


/* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Spline Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */


/* -----------------common css----------- */

* {
    margin: 0 auto;
}


/* -----------------common css ends----------- */


/* -----------------------------------------Header section starts here */

.header {
    margin-top: 40px;
    display: flex;
    margin-left: -155px;
    /* background-color: blanchedalmond; */
    margin-top: 40px;
    width: 120%;
    height: 200%;
}

.header-left {
    margin-top: 50px;
    margin-left: 270px;
    width: 50%;
}

.header-left-border {
    border-left: 2px solid red;
    border-image-slice: 1;
    padding-left: 5px;
    /* background-color: white; */
}

#header-left-first-line {
    font-size: 48px;
    padding-bottom: 7px;
    font-family: 'Spline Sans';
}

#header-left-second-line {
    font-size: 43px;
    font-family: 'Spline Sans';
    color: rgb(126, 223, 126);
}

.header-left-para {
    margin-top: 20px;
    font-size: 15px;
    /* background-color: yellow; */
    padding-right: 158px;
}

.header-btn {
    background-color: red;
    border: 0px;
    width: 138px;
    height: 38px;
    font-family: 'Baloo Bhai 2', cursive;
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 16px;
}

.header-button {
    padding-top: 55px;
}

.header-btn:hover {
    cursor: help;
    color: black;
}


/* ------------------------------header-right----- */

.header-right-img {
    height: 329px;
    width: 282px;
    padding-right: 225px;
}


/* -- ----------------------------------section two starts here --------------------- */

.section-two {
    /* background-color: yellow; */
    margin-top: 30px;
}

.sec-two-heading {
    margin-bottom: 50px;
}

#sec-two-para {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-family: 'Spline Sans', sans-serif;
}

#sec-two-para-span {
    color: red;
}


/* --------------------------------------section-two-card */

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 160px;
    padding-left: 160px;
}

.cards {
    height: 251px;
    width: 228px;
    background-color: rgb(225, 216, 226);
    padding: 20px;
    border-radius: 30px;
}

.card-img {
    height: 120px;
    width: 136px;
}

.cards-para {
    font-size: 14px;
}

.card-two {
    background-color: aliceblue;
}

.card-three {
    background-color: rgb(234, 240, 234);
}